        html {
            margin: 0;
            padding: 0;
            height: 100%;

            }
        body {
            background: #29C5F6;
        }

        .bg_white{
            background: white;
            width: 400px;
            margin-top: auto;
            margin-bottom: auto;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;
        }
        .block_white{
            background: white;
            margin-top: auto;
            margin-bottom: auto;
            position: relative;
            display: flex;
            border: 3px solid #C3D2D8;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;
        }
        .border_csv{
            border: solid 4px #29C5F6;
        }
        .white_center{
            color:white;
            padding-top: 15%;
            font-weight: bold;
            font-size: 4em;
            }